# Groeps Opdracht CI
## Joost Vledder, Sadjia Safdari, Simon Kreulen & Jasper van Eck

### Inhoudsopgave <a name='Top'></a>

[Imports](#import)

[Load data](#loaddata)

[Data Clean Up](#cleanup)

[Basic Data Stats](#basicdata)

[Plots](#plots)

[Cosine Similarity](#cossim)

[Query Vector](#queryvector)

[SVD](#svd)

[K-Means](#kmeans)

### Imports <a name='import'></a>

[Top](#Top)

In [91]:
import os
import pandas as pd
import numpy as np
np.seterr(divide='raise', over='raise', under='raise', invalid='raise')
import matplotlib.pyplot as plt
from collections import defaultdict
import json
#pip install geopy
from geopy import geocoders
from geopy.geocoders import Nominatim
from sklearn.cluster import KMeans
from sklearn.decomposition import TruncatedSVD

### Load data <a name='loaddata'></a>

[Top](#Top)

In [76]:
#rootdir = './yelp/data'
rootdir = './yelp/yelp/data'

df_business = pd.DataFrame()
df_users = pd.DataFrame()
df_reviews = pd.DataFrame()

count = 0

def load_jsons(data_path, file):
    """ helper function to load '.json' files (they're not proper jsons) """
    file_path = os.path.join(subdir, file)
    lines = []
    with open(file_path) as jsons:
        try:
            lines = [json.loads(json_line) for json_line in jsons]
        except:
            print(file_path)
    return pd.DataFrame(lines)

for subdir, dirs, files in os.walk(rootdir):
    if count == 200: #1078 is the total amount of cities
        break
        
    for file in files:
        if os.path.basename(file) == 'business.json':
            df_business = df_business.append(load_jsons(subdir, file))
        if os.path.basename(file) == 'user.json':
            df_users = df_users.append(load_jsons(subdir, file))
        if os.path.basename(file) == 'review.json':
            df_reviews = df_reviews.append(load_jsons(subdir, file))
    count += 1

df_business = df_business.set_index('business_id')
df_users = df_users.set_index('user_id')
df_reviews = df_reviews.set_index('review_id')

display(df_business.head())
display(df_users.head())
display(df_reviews.head())

./yelp/yelp/data\brampton\review.json

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
business_id,,,,,,,,,,,,,
M82c96ICluambjx0wWg6Bg,ABZ Auto Care,"9827 W Tropicana Ave, Ste 100",110 Las Vegas,NV,89147,36.099575,-115.306722,5.0,68,0,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair, Oil Change Stations, ...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ..."
U_ihDw5JhfmSKBUUkpEQqw,McDonald's,3850 Sheppard Avenue E,Agincourt,ON,M1T 3L4,43.784517,-79.291325,2.5,5,1,"{'GoodForMeal': '{'dessert': False, 'latenight...","Burgers, Restaurants, Fast Food","{'Monday': '7:0-11:0', 'Tuesday': '7:0-11:0', ..."
LixFCMGKdptI8WRsjAl5cQ,McDonald's,2936 Finch Avenue E,AGINCOURT,ON,M1W 2T4,43.794305,-79.329995,2.0,7,1,"{'HasTV': 'True', 'RestaurantsGoodForGroups': ...","Fast Food, Restaurants, Burgers","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
064fFc4CdNxAJJDVR-7FSQ,Horton Carpet Cleaning,,Ahwahtukee,AZ,85044,33.321112,-111.988020,5.0,17,1,{'BusinessAcceptsCreditCards': 'True'},"Home Cleaning, Professional Services, Home Ser...","{'Monday': '8:0-19:0', 'Tuesday': '8:0-19:0', ..."
UY1BHeeb1oE0-uk0EKqaGg,McDonald's,10823 S 51st St,Ahwatukee,AZ,85044,33.348551,-111.975151,1.5,7,0,"{'Alcohol': 'u'none'', 'RestaurantsReservation...","Food, Burgers, Fast Food, Restaurants",None

,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
user_id,,,,,,,,,,,,,,,,,,,,,
cFGAElozHTdQDfHimOiSBQ,Alexa,164,2008-09-05 07:13:34,715,318,394,"2015,2016,2017","db8n21wt96O2XmLn1WSidg, drVEocTGKbGRO9-b8Dve0g...",25,3.29,...,2,0,1,0,6,4,22,22,2,4
RZ1Fq9AuQ0OkRdTzpr1NvA,Helen,9,2010-05-10 19:08:38,35,32,35,,"dS2nxBC_PSHtPh2ZVNkvmQ, Gzw5r_LGZ_rOofc3u9gsSg...",2,4.22,...,0,0,0,0,0,0,0,0,0,0
7uWE7YWlRrde5fifL9KTuQ,Eric,24,2012-08-16 01:50:23,149,57,125,,"gBzcQ-FFvEVUdIxdUdf3EQ, sqJZt_Z144RWGk4bdKTpSw...",0,4.46,...,0,1,0,0,0,0,0,0,1,0
IdGt5n3oUA6-SBRfTPCLJg,Kim,46,2013-01-27 21:44:58,78,46,58,,"qmhD1iTfB5tx_tGjWTFOxw, R2w6YYFLndu0WXRq6pljqg...",0,4.37,...,1,0,0,0,1,2,0,0,0,0
AMdGLT8LlCeHcTFISfXQMA,Annie,27,2016-03-10 00:25:16,47,35,43,,"kebM1adVv3Tb4DB3C1TboA, BVVCNsLbNCzoDg2ByDFeyA...",0,4.48,...,0,0,0,0,0,0,0,0,0,0

,user_id,business_id,stars,useful,funny,cool,text,date
review_id,,,,,,,,
U2DCXuY8cnqEXKiDM2StVg,arH9TJhwjaSh8qVnJ7nmTQ,M82c96ICluambjx0wWg6Bg,5.0,70,35,70,"Best place to take your Car , no BS and hones...",2015-11-18 20:01:15
PlsccX4ZGkWNbImY_UBkbw,fZmlBl4hVOm-A7xFJ14vAA,M82c96ICluambjx0wWg6Bg,5.0,68,34,67,I just moved here to Las Vegas and was looking...,2016-07-14 21:50:48
UuyZlQu9Cn44BM7EEiHkjg,9oPadfz_B_uzCKMRZq2CHg,M82c96ICluambjx0wWg6Bg,5.0,30,29,30,Shlomi is one of the best mechanics in Las Veg...,2017-07-28 21:53:34
0URo0Dp6t1cQiBTMCwqUgQ,sLCVE32lUjPit-kUvlZg2w,M82c96ICluambjx0wWg6Bg,5.0,83,31,81,I called first to find out rates. Shlomi took ...,2016-03-31 22:27:59
ITG1-seS_pi32XEJxfff3Q,a2cPSPOgHSSsrMtqYBjk0w,M82c96ICluambjx0wWg6Bg,5.0,41,39,41,"Went in for a smog check. No waiting, did the...",2017-08-08 19:10:43

In [77]:
df_business.to_pickle('./business_pickle.pkl')
df_users.to_pickle('./users_pickle.pkl')
df_reviews.to_pickle('./reviews_pickle.pkl')

In [78]:
df_business = pd.read_pickle('./business_pickle.pkl')
df_users = pd.read_pickle('./users_pickle.pkl')
df_reviews = pd.read_pickle('./reviews_pickle.pkl')

### Clean up Data For Content Based <a name='cleanup'></a>

[Top](#Top)

In [79]:
cat_dict = defaultdict(lambda: defaultdict(int))

# Drop na categories
df_business = df_business[df_business['categories'].notna()]

# Normalize long, lat, stars & review_count
#x = cos(lat) * cos(lon)
#y = cos(lat) * sin(lon)
df_business['stars'] = (df_business['stars']-df_business['stars'].min()) / (df_business['stars'].max()-df_business['stars'].min())
df_business['review_count'] = (df_business['review_count']-df_business['review_count'].min()) / (df_business['review_count'].max()-df_business['review_count'].min())
#df_business['x_axis'] = np.cos(df_business['latitude']) * np.cos(df_business['longitude'])
#df_business['y_axis'] = np.cos(df_business['latitude']) * np.sin(df_business['longitude'])

# Dataframe of categories one hot encoded per business_id
df_tmp = df_business['categories'].str.split(pat=', ',expand=True)

# Create dict of categories
for index, row in df_tmp.iterrows():
    for _,elem in row.items():
        if elem and elem not in cat_dict[index]:
            cat_dict[index][elem] += 1

In [80]:
# Create DF from dict
df_cats = pd.DataFrame.from_dict(cat_dict, orient='index')

#Drop NaN column
df_cats = df_cats.drop(columns='NaN',errors='ignore')

# Fillna with 0
df_cats = df_cats.fillna(0)

# Join back into business
df_business = df_business.join(df_cats,on='business_id')

# Drop cols
df_business = df_business.drop(columns=['address','state','postal_code','attributes','categories','hours'],errors='ignore')

# Remove elite & friends columns because of non use
df_users = df_users.drop(columns=['elite','friends'],axis=1,errors='ignore')

In [81]:
display(df_business.head())

,name,city,latitude,longitude,stars,review_count,is_open,Automotive,Auto Repair,Oil Change Stations,...,Christmas Markets,Kitchen Incubators,Indoor Landscaping,Marinas,Sailing,Market Stalls,Carousels,Tenant and Eviction Law,Sauna Installation & Repair,Surf Schools
business_id,,,,,,,,,,,,,,,,,,,,,
M82c96ICluambjx0wWg6Bg,ABZ Auto Care,110 Las Vegas,36.099575,-115.306722,1.000,0.035500,0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
U_ihDw5JhfmSKBUUkpEQqw,McDonald's,Agincourt,43.784517,-79.291325,0.375,0.001092,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LixFCMGKdptI8WRsjAl5cQ,McDonald's,AGINCOURT,43.794305,-79.329995,0.250,0.002185,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
064fFc4CdNxAJJDVR-7FSQ,Horton Carpet Cleaning,Ahwahtukee,33.321112,-111.988020,1.000,0.007646,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
UY1BHeeb1oE0-uk0EKqaGg,McDonald's,Ahwatukee,33.348551,-111.975151,0.125,0.002185,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
df_business.to_pickle('./business_pickle.pkl')
df_users.to_pickle('./users_pickle.pkl')
df_reviews.to_pickle('./reviews_pickle.pkl')

In [83]:
df_business = pd.read_pickle('./business_pickle.pkl')
df_users = pd.read_pickle('./users_pickle.pkl')
df_reviews = pd.read_pickle('./reviews_pickle.pkl')

### Basic Data Stats for Content Based <a name='basicdata'></a>

[Top](#Top)

In [ ]:
# Some information about the category amounts per business

# series of amount of categories per business
cats_business = df_cats.sum(axis=1)
display(cats_business)

avg_cats_bus = cats_business.mean()
max_cats_bus = cats_business.max()
min_cats_bus = cats_business.min()

print('Average amount of categories for businesses: ', avg_cats_bus)
print('Minimum amount of categories for businesses: ', min_cats_bus)
print('Maximum amount of categories for businesses: ', max_cats_bus)

# series of amount of businesses with the index amount of categories
cat_bus_distribution = cats_business.value_counts()
display(cat_bus_distribution)

In [ ]:
# series of number of businesses with index as category
cats_presences = df_cats.sum(axis=0).sort_values(ascending=False)
display(cats_presences)

avg_cats = cats_presences.mean()
max_cats = cats_presences.max()
min_cats = cats_presences.min()

### Plots <a name='plots'></a>

[Top](#Top)

In [ ]:
hist_bus = df_business.hist(column=['stars','review_count'])
df_business.plot(x='x_axis',y='y_axis',kind='scatter')
plt.show()
cats_presences.plot()

In [2]:
df_business = pd.read_pickle('./business_pickle.pkl')
df_users = pd.read_pickle('./users_pickle.pkl')
df_reviews = pd.read_pickle('./reviews_pickle.pkl')

### Basic Data Stats for Collaborative Based <a name='basicdata'></a>

[Top](#Top)

In [ ]:
# reset index
df_reviews = df_reviews.reset_index()

# count reviews per user and reviews per business
reviews_per_user = df_reviews.groupby("user_id")["review_id"].count().sort_values(ascending=False).to_frame()
reviews_per_business = df_reviews.groupby("business_id")["review_id"].count().sort_values(ascending=False).to_frame()

# plot both review counts
reviews_per_user.plot()
reviews_per_business.plot()

In [68]:
df_business = pd.read_pickle('./business_pickle.pkl')
df_users = pd.read_pickle('./users_pickle.pkl')
df_reviews = pd.read_pickle('./reviews_pickle.pkl')

### Cosine Similarity <a name='cossim'></a>

[Top](#Top)

In [84]:
# Input vectors are series, convert to np array
def cosineSim(vector, docVector):
    vector = vector.to_numpy()
    docVector = docVector.to_numpy()
    
    # Get lengths of vectors
    sim = (np.sqrt(sum(vector**2))*np.sqrt(sum(docVector**2)))
    
    # Ensure no division by 0
    if sim == 0.:
        return np.nan
    
    # Calculate cosine sim
    return vector.dot(docVector)/sim

In [85]:
def rankedBusinessList(df_business, queryVector):
    df_bus_features = df_business.copy().drop(columns=['name','city','stars','review_count','is_open','Score Cos'],errors='ignore')
    scoreList = np.zeros(len(df_business))
    for i in range(len(df_bus_features)):
        scoreList[i] = cosineSim(queryVector, df_bus_features.iloc[i])
    
    df_business['Score Cos'] = scoreList
    return df_business.sort_values(by=['Score Cos','stars'],ascending=False)

### Create Query Vector <a name='queryvector'></a>

[Top](#Top)

This first cell get the longitude and latitude of a given city and state, and normalizes both values.

In [86]:
loc_string = 'Las Vegas NV'
gn = Nominatim(user_agent='WalterGKurtz')
location = gn.geocode(loc_string)
queryVector = pd.Series(data=0.,index=df_business.columns)
queryVector.at['latitude'] = location.latitude
queryVector.at['longitude'] = location.longitude
#x = cos(lat) * cos(lon)
#y = cos(lat) * sin(lon)
#queryVector.at['x_axis'] = np.cos(location.latitude) * np.cos(location.longitude)
#queryVector.at['y_axis'] = np.cos(location.latitude) * np.sin(location.longitude)

The second cell inputs the preferences of the user.

In [89]:
# Preferences
queryVector = queryVector.drop(labels=['name','city','stars','review_count','is_open'],errors='ignore')
queryVector.at['Automotive'] = 1.
queryVector.at['Auto Repair'] = 1.
queryVector.at['Fast Food'] = 1.
queryVector.at['Restaurants'] = 1.
queryVector.at['Pizza'] = 1.
queryVector.at['Men\'s Clothing'] = 1.
queryVector.at['Women\'s Clothing'] = 1.
queryVector.at['Fashion'] = 1.
queryVector.at['Bars'] = 1.
display(queryVector)
queryVector.to_csv('test.csv')

latitude                        36.167256
longitude                     -115.148516
Automotive                       1.000000
Auto Repair                      1.000000
Oil Change Stations              0.000000
                                  ...
Market Stalls                    0.000000
Carousels                        0.000000
Tenant and Eviction Law          0.000000
Sauna Installation & Repair      0.000000
Surf Schools                     0.000000
Length: 1149, dtype: float64

In [90]:
display(rankedBusinessList(df_business,queryVector).head(20))

,name,city,latitude,longitude,stars,review_count,is_open,Automotive,Auto Repair,Oil Change Stations,...,Kitchen Incubators,Indoor Landscaping,Marinas,Sailing,Market Stalls,Carousels,Tenant and Eviction Law,Sauna Installation & Repair,Surf Schools,Score Cos
business_id,,,,,,,,,,,,,,,,,,,,,
bmxloH_SxKJbG64ROSZtbw,Tig Mobile Automotive Service,Boulder City,35.976501,-114.824957,1.000,0.003277,1,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999760
Bkf6d4VZdRXkSUjjMViBvQ,Tony's Pizza,Boulder City,35.977326,-114.838325,0.625,0.045877,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999760
14hYbBTN3_BqmI1rXbfpbg,Jack in the Box,Boulder City,35.972649,-114.847880,0.500,0.012015,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999760
URfA-ofc4h3C2MGiVzvxfQ,Larry's Complete Automotive,Boulder City,35.971696,-114.846061,1.000,0.000546,1,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999760
m2tNrjQJz2fxCyh-yp4vgA,Pizza Hut,Boulder City,35.972288,-114.849539,0.250,0.015838,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999760
xZEzay6gGCHlBpEoQp981A,First Choice Auto,Boulder City,35.971484,-114.858234,0.875,0.004915,1,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999760
pb1XsieXsn88yfVHANhWgg,Lady Boutique,Boulder City,35.977939,-114.837148,0.875,0.000000,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
njvrJ45RWohxGy50HRYPtw,Burger King,Boulder City,35.974789,-114.846001,0.250,0.014746,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
oUlV2U8U_5ff4KFECxRfEw,DB'S Automotive Service,Boulder City,35.971217,-114.851429,1.000,0.001638,0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
qGXlDvYxojI2dL4c__Byog,Subway,Boulder City,35.969414,-114.857238,0.250,0.008192,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
JM9LVlM_o3k_CbCErIQYAg,Panda Express,Boulder City,35.968961,-114.855899,0.500,0.009831,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
TKhlt0jPUhJt10jgEKdWXg,Vinny's Pizzeria,Boulder City,35.969441,-114.858078,0.625,0.051884,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
omjoiOJGY-wnB_pVZtsrJw,Roberto's Taco Shop,Boulder City,35.968197,-114.857441,0.625,0.022392,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999725
Z08PxrxDKpswFj8QgxRjVA,Subway,Clark,36.381649,-114.896222,0.375,0.000000,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999723
_GG9BFwaPDkHHU7FVnVEMA,All Mercedes,Cave Creek,33.826365,-111.955328,1.000,0.002185,1,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999700
sLoiCCLqIkYeOguHGf0opQ,Jack In the Box,Anthem,33.844397,-112.136152,0.375,0.002185,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999697
5eNMMKB66grSjG3VBj0G-Q,Carl's Jr.,Cave Creek,33.770664,-111.982152,0.250,0.007646,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999694
AN98dekZtXDplAzmzKS8Yw,Number 1 Brothers Pizza,Cave Creek,33.765780,-111.982854,0.625,0.019115,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999694
9ekvSQibalBglJH0ekuGlA,Rosati's Pizza,Cave Creek,33.742475,-111.977354,0.500,0.038230,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999692
M82c96ICluambjx0wWg6Bg,ABZ Auto Care,110 Las Vegas,36.099575,-115.306722,1.000,0.035500,0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.999691

### SVD <a name='svd'></a>

[Top](#Top)

In [96]:
df_tmp_svd = df_business.copy().drop(columns=['name','city', 'stars','review_count','is_open'],errors='ignore').to_numpy()
trunc_svd = TruncatedSVD(n_components=500)
reduced_x = trunc_svd.fit_transform(df_tmp_svd)
singles = trunc_svd.singular_values_

(36073, 500)

array([1.95810568e+04, 1.25201107e+03, 1.08102679e+02, 7.78895628e+01,
       7.57027236e+01, 6.98444099e+01, 6.88541791e+01, 6.18402420e+01,
       5.94357659e+01, 5.50788509e+01, 5.13648875e+01, 4.92959656e+01,
       4.50785000e+01, 4.30439561e+01, 4.16790081e+01, 4.03007464e+01,
       3.88900738e+01, 3.68934249e+01, 3.67105028e+01, 3.62608134e+01,
       3.60643151e+01, 3.53871880e+01, 3.45097189e+01, 3.38434504e+01,
       3.28719311e+01, 3.16916202e+01, 3.15101337e+01, 3.11006490e+01,
       2.97505620e+01, 2.94203305e+01, 2.91911730e+01, 2.89620310e+01,
       2.87133396e+01, 2.83591253e+01, 2.78032845e+01, 2.76096774e+01,
       2.72663916e+01, 2.70130259e+01, 2.67907829e+01, 2.66785150e+01,
       2.61706523e+01, 2.57526631e+01, 2.53898181e+01, 2.48862164e+01,
       2.45589736e+01, 2.41413856e+01, 2.37879517e+01, 2.36260446e+01,
       2.36107416e+01, 2.32296784e+01, 2.29941520e+01, 2.28994586e+01,
       2.24128162e+01, 2.21325912e+01, 2.17823233e+01, 2.17126230e+01,
       2.16753186e+01, 2.13567016e+01, 2.11841272e+01, 2.10099427e+01,
       2.07651031e+01, 2.04571347e+01, 2.04495056e+01, 2.01521089e+01,
       2.00359113e+01, 1.99243359e+01, 1.97580854e+01, 1.95692833e+01,
       1.95391227e+01, 1.91513078e+01, 1.91423383e+01, 1.90543847e+01,
       1.89516401e+01, 1.86764323e+01, 1.86727640e+01, 1.85323895e+01,
       1.84332591e+01, 1.83286436e+01, 1.82637505e+01, 1.80511575e+01,
       1.80120382e+01, 1.78097736e+01, 1.76929607e+01, 1.76256840e+01,
       1.75446624e+01, 1.71996609e+01, 1.71299716e+01, 1.70652842e+01,
       1.70137063e+01, 1.69432666e+01, 1.69062467e+01, 1.69019909e+01,
       1.67984123e+01, 1.67283617e+01, 1.66178842e+01, 1.66030654e+01,
       1.64239704e+01, 1.63653482e+01, 1.62142162e+01, 1.60803035e+01,
       1.60205885e+01, 1.58744346e+01, 1.57984703e+01, 1.57313588e+01,
       1.56088197e+01, 1.54587596e+01, 1.53286923e+01, 1.52986206e+01,
       1.52430850e+01, 1.51507657e+01, 1.50515986e+01, 1.49729267e+01,
       1.49225310e+01, 1.46861924e+01, 1.46500075e+01, 1.45302701e+01,
       1.45138947e+01, 1.44841179e+01, 1.44122356e+01, 1.43798457e+01,
       1.41182119e+01, 1.39486786e+01, 1.38781084e+01, 1.38272354e+01,
       1.37576835e+01, 1.36707176e+01, 1.36256099e+01, 1.35182731e+01,
       1.34348108e+01, 1.34259489e+01, 1.31871320e+01, 1.31102414e+01,
       1.30404783e+01, 1.30013630e+01, 1.29867632e+01, 1.28894533e+01,
       1.28769899e+01, 1.28453636e+01, 1.27744787e+01, 1.27607792e+01,
       1.26973168e+01, 1.26480910e+01, 1.25037306e+01, 1.24700131e+01,
       1.24610966e+01, 1.23867372e+01, 1.23624722e+01, 1.23136240e+01,
       1.22316629e+01, 1.22211416e+01, 1.21849312e+01, 1.21348198e+01,
       1.21121586e+01, 1.20356244e+01, 1.19873720e+01, 1.19578736e+01,
       1.18813758e+01, 1.18576738e+01, 1.17939076e+01, 1.17336700e+01,
       1.16942554e+01, 1.16454084e+01, 1.15897522e+01, 1.15392226e+01,
       1.15116919e+01, 1.14279071e+01, 1.13741692e+01, 1.13623043e+01,
       1.13487993e+01, 1.12890224e+01, 1.12442692e+01, 1.12293480e+01,
       1.12078053e+01, 1.11834004e+01, 1.11588069e+01, 1.10772347e+01,
       1.10540793e+01, 1.10188043e+01, 1.09999466e+01, 1.09566095e+01,
       1.09293620e+01, 1.08714449e+01, 1.07735609e+01, 1.07518836e+01,
       1.07233675e+01, 1.06983888e+01, 1.06201352e+01, 1.05964050e+01,
       1.05752163e+01, 1.05725688e+01, 1.05545273e+01, 1.05084463e+01,
       1.04764878e+01, 1.04578282e+01, 1.04285276e+01, 1.04031495e+01,
       1.03305338e+01, 1.03128207e+01, 1.02733211e+01, 1.02508066e+01,
       1.02243937e+01, 1.01799072e+01, 1.01078691e+01, 1.00956032e+01,
       1.00865104e+01, 1.00117998e+01, 1.00051511e+01, 9.98740062e+00,
       9.94202869e+00, 9.84681755e+00, 9.80571925e+00, 9.78489784e+00,
       9.76843771e+00, 9.72081625e+00, 9.68277299e+00, 9.65780408e+00,
       9.63550932e+00, 9.62631530e+00, 9.59382722e+00, 9.57796080e+00,
       9.51920895e+00, 9.49813991e+00, 9.45429292e+00, 9.38536728e+00,
       9.30483709e+00, 9.28641566e+00, 9.25447649e+00, 9.23875718e+00,
       9.19755624e+00, 9.18217013e+00, 9.15914431e+00, 9.15277805e+00,
       9.13987354e+00, 9.12712581e+00, 9.10548977e+00, 9.06232154e+00,
       8.99300879e+00, 8.89145810e+00, 8.85526573e+00, 8.83964064e+00,
       8.80234915e+00, 8.70738241e+00, 8.69141163e+00, 8.67179376e+00,
       8.65808398e+00, 8.65476776e+00, 8.63307811e+00, 8.62771109e+00,
       8.58820256e+00, 8.57822646e+00, 8.53452478e+00, 8.51110948e+00,
       8.50062493e+00, 8.47959146e+00, 8.47501228e+00, 8.43867462e+00,
       8.43010606e+00, 8.42472707e+00, 8.41487885e+00, 8.38069320e+00,
       8.36575467e+00, 8.33373567e+00, 8.28823549e+00, 8.28354570e+00,
       8.20677137e+00, 8.18350710e+00, 8.17489415e+00, 8.15834790e+00,
       8.13648289e+00, 8.11184283e+00, 8.05195658e+00, 8.03257395e+00,
       8.02420829e+00, 7.99503826e+00, 7.97533493e+00, 7.94455062e+00,
       7.93224270e+00, 7.90518683e+00, 7.89147298e+00, 7.83544515e+00,
       7.82188303e+00, 7.76925861e+00, 7.73776766e+00, 7.70905792e+00,
       7.65480933e+00, 7.60138806e+00, 7.59872302e+00, 7.56885400e+00,
       7.55832990e+00, 7.55368241e+00, 7.52378389e+00, 7.50474326e+00,
       7.47879158e+00, 7.46629868e+00, 7.44772249e+00, 7.43169086e+00,
       7.42292849e+00, 7.39454634e+00, 7.37464064e+00, 7.36908478e+00,
       7.35042798e+00, 7.31789872e+00, 7.29047390e+00, 7.26854403e+00,
       7.26109980e+00, 7.24659476e+00, 7.23873448e+00, 7.20974439e+00,
       7.20522582e+00, 7.17723278e+00, 7.15722628e+00, 7.11643320e+00,
       7.10949088e+00, 7.09365105e+00, 7.06765073e+00, 7.02842608e+00,
       7.02062668e+00, 6.99874343e+00, 6.98359512e+00, 6.97747914e+00,
       6.93399709e+00, 6.91348379e+00, 6.89840816e+00, 6.88415271e+00,
       6.86705213e+00, 6.85862786e+00, 6.83671934e+00, 6.82413356e+00,
       6.81444191e+00, 6.80399387e+00, 6.79412827e+00, 6.78801569e+00,
       6.77663233e+00, 6.76596711e+00, 6.76158694e+00, 6.74354722e+00,
       6.71695662e+00, 6.70893780e+00, 6.66623450e+00, 6.64881288e+00,
       6.64393989e+00, 6.62583536e+00, 6.59615300e+00, 6.58160099e+00,
       6.57919533e+00, 6.55477668e+00, 6.54792844e+00, 6.53948494e+00,
       6.51910719e+00, 6.51284709e+00, 6.49891066e+00, 6.47932207e+00,
       6.46871759e+00, 6.46471752e+00, 6.44048204e+00, 6.43466059e+00,
       6.42222571e+00, 6.39706552e+00, 6.38269309e+00, 6.37641168e+00,
       6.36663102e+00, 6.35449356e+00, 6.32554389e+00, 6.31041817e+00,
       6.30637292e+00, 6.29430461e+00, 6.27861970e+00, 6.24719582e+00,
       6.22614797e+00, 6.21240612e+00, 6.18211918e+00, 6.16614169e+00,
       6.15563292e+00, 6.13013832e+00, 6.11891772e+00, 6.09574751e+00,
       6.08558366e+00, 6.06410743e+00, 6.05619580e+00, 6.02241700e+00,
       6.01719912e+00, 6.00426379e+00, 5.99057075e+00, 5.97225276e+00,
       5.93768990e+00, 5.91280361e+00, 5.89186078e+00, 5.84566696e+00,
       5.84390716e+00, 5.84119888e+00, 5.80334584e+00, 5.78674095e+00,
       5.77893428e+00, 5.77181101e+00, 5.73785103e+00, 5.70868245e+00,
       5.69756962e+00, 5.69258433e+00, 5.67970663e+00, 5.66506084e+00,
       5.65850121e+00, 5.65204275e+00, 5.64599925e+00, 5.61222612e+00,
       5.59858279e+00, 5.58984117e+00, 5.57774185e+00, 5.56674844e+00,
       5.54553531e+00, 5.53977993e+00, 5.53927513e+00, 5.52545751e+00,
       5.51832880e+00, 5.49791953e+00, 5.48456063e+00, 5.47938007e+00,
       5.46984838e+00, 5.46888127e+00, 5.43633916e+00, 5.42514980e+00,
       5.41704885e+00, 5.41569351e+00, 5.41339848e+00, 5.40488297e+00,
       5.40035448e+00, 5.39282307e+00, 5.38563552e+00, 5.36747913e+00,
       5.35310612e+00, 5.34528162e+00, 5.32458449e+00, 5.31315975e+00,
       5.30058764e+00, 5.28500378e+00, 5.27384721e+00, 5.25844582e+00,
       5.25121247e+00, 5.23766342e+00, 5.22682948e+00, 5.19565406e+00,
       5.18004531e+00, 5.17507046e+00, 5.15895016e+00, 5.13544618e+00,
       5.12435670e+00, 5.11109081e+00, 5.09215809e+00, 5.06324762e+00,
       5.04467004e+00, 5.03942820e+00, 5.01713884e+00, 4.99863673e+00,
       4.98607549e+00, 4.97370049e+00, 4.94483652e+00, 4.94300533e+00,
       4.93372556e+00, 4.92436021e+00, 4.91104262e+00, 4.89884850e+00,
       4.89357318e+00, 4.87949461e+00, 4.87277406e+00, 4.86372827e+00,
       4.85127769e+00, 4.84436469e+00, 4.83345234e+00, 4.81478636e+00,
       4.81150415e+00, 4.80118501e+00, 4.78908674e+00, 4.78230851e+00,
       4.75714617e+00, 4.74214809e+00, 4.72998998e+00, 4.72198255e+00,
       4.71754503e+00, 4.70888155e+00, 4.69445331e+00, 4.68208311e+00,
       4.66762534e+00, 4.65921820e+00, 4.64489928e+00, 4.61855951e+00,
       4.58411012e+00, 4.57798657e+00, 4.57453295e+00, 4.56090905e+00,
       4.54826387e+00, 4.51765844e+00, 4.51201878e+00, 4.49539477e+00,
       4.48000674e+00, 4.47204229e+00, 4.45599749e+00, 4.44338923e+00,
       4.42799092e+00, 4.41547350e+00, 4.40023144e+00, 4.36481601e+00])

In [ ]:


display(rankedBusinessList(df_business,queryVectorReduced).head(20))

### K-means <a name='kmeans'></a>

[Top](#Top)

In [ ]:
kmeans = KMeans(n_clusters=200,random_state=0).fit(recombo)

In [ ]:
# Predict query vector

### Cohen's Kappa <a name='cohenkappa'></a>

[Top](#Top)

In [1]:
# Dataformat
# 1 | 0
# 1 | 1
# 0 | 1

def PE(data):
    '''On input data, return the P(E) (expected agreement).'''
    relevant = 0
    nonrelevant = 0
    # Iterate over the data
    for i in data:
        for j in i:
            
            # Top up the relevant documents by one if 1 is encountered
            if j == 1:
                relevant += 1
            # Top up the nonrelevant documents by one if 0 is encountered
            if j == 0:
                nonrelevant += 1

    # Calculates the total of inspected documents for the judges combined
    total = len(data)*2

    # Calculates the pooled marginals
    rel = relevant/total
    nonrel = nonrelevant/total

    # Calculates the P(E)
    P_E = nonrel**2 + rel **2    
    return    P_E 


def kappa(data, P_E):
    agree = 0
    for i in data:
        temp = None
        for j in i:
            if temp == j:
                agree += 1
            temp = j
    P_A = agree / len(data)
    if P_E == 1:
        kappa = 1
    else:
        kappa = (P_A - P_E)/(1 - P_E)   
    return kappa

In [2]:
def AveragePrecision(ranked_list_of_results, list_of_relevant_objects):
    total = len(list_of_relevant_objects)
    sumPk = 0
    rank = 0
    relevant = 0
    for result in ranked_list_of_results:
        rank += 1
        if result in list_of_relevant_objects:
            relevant += 1
            sumPk += relevant/rank
            
    aprecision = sumPk/total
    return aprecision